body {
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.inner {
	display: flex;
	flex-direction: column;
}

.row {
	width: auto;
	display: flex;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 15vw;
	width: 100%;
}

.btn, .minus {
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding: 10px 20px; */
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	width: 14vw;
	height: 3vh;
	font-size: 1rem;
	color: #fff;
	text-transform: uppercase;
	/* font-weight: 700; */
	text-align: center;
	font-weight: bold;
	margin-top: 1vh;
	cursor: pointer;
	transition: width .15s ease;
}

.plus, .minus {
	width: 8vw;
}

.minus {
	background-color: rgb(255, 39, 39);
	margin-right: 5px;
}

.minus:hover {
	background: rgb(255, 91, 91);
}

.btn:hover {
	background: rgb(255, 192, 75);
}

.usercard {
	text-align: center;
}

.item-info {
	display: flex;
	align-items: center;
	/* margin-left: 15px; */
	font-size: 0.7rem;
	width: auto;
}

.item-name {
	display: flex;
	justify-content: center;
	width: 18vw;
}

.price {
	display: flex;
	align-items: center;
	color: white;
	background: var(--tg-theme-bg-color);
}

.item-price {
	margin-left: 0.5vw;
	font-weight: bold;
}

.plus, .minus {
	cursor: pointer;
}

.counter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 7px;
	font-size: 14px;
    min-width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: #ebad5b;
	font-weight: bold;
	color: white;
	transition: transform 0.2s;
}

.counter-click {
	transform: scale(1.2);
}

.img {
	width: 12vw;
	height: 8vh;
}

.img-container {
	width: 12vw;
	height: 8vh;
	display: flex;
}

.cart {
	padding-left: 15px;
	padding-right: 15px;
}

.cart-comment {
	width: 90%;
	height: 40px;
	padding: 10px 20px 10px 20px;
	border: none;
	border-bottom: 1px solid var(--tg-theme-text-color);
	margin-top: 15px;
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}

.cart-container {
	display: flex;
	flex-direction: column;
}

.cart-row {
	display: flex;
	align-items: center;
	padding: 10px 5px 10px 5px;
}

.cart-header {
	display: flex;
	align-items: center;
}

.edit-btn {
	margin-left: auto;
	color: #ebad5b;
	cursor: pointer;
}
